html {
    font-size: 10px;
}

body {
    font-family: "Raleway", Helvetica, sans-serif;
    background-color: #141414;
    min-width: 320px;
}

header {
    height: 60px;
    background-color: #141414;
    color: #F5F5F5;
    position: fixed;
    width: 100vw;
    min-width: 320px;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 400;
    font-size: 4rem;
    margin: 0;
    padding-left: 2rem;
}

.nav {
    position: fixed;
    background: #141414;
    text-align: center;
    top: 60px;
    right: 0;
    z-index: 1;
    width: 0;
    height: 100%;
    transition: width .5s ease-in-out;
    box-shadow: -6px 0 8px rgba(0, 0, 0, .5);
}

.nav nav li {
    list-style-type: none;
    margin: 20px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #F5F5F5;
    color: #F5F5F5;
    font-size: 1.8rem;
    font-weight: 200;
    text-decoration: none;
    cursor: pointer;
}

.nav nav li:hover {
    color: #BDC3C7;
    border-bottom: 1px solid #BDC3C7;
    font-size: 2rem;
    transition: font .2s ease-in-out;
}

#menu-svg {
    cursor: pointer;
    padding-right: 2rem;
}

#menu-svg p {
    float: left;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 5px 10px 0 0;
}

#close-svg {
    display: none;
    cursor: pointer;
    padding: 2rem;
}

#menu {
    height: 2.5rem;
    width: 2.5rem;
}

#menu .cls-1 {
    fill: none;
    stroke: #F5F5F5;
    stroke-miterlimit: 10;
    stroke-width: 10px;
}

#close {
    height: 2.5rem;
    width: 2.5rem;
}

#close .cls-1 {
    fill: none;
    stroke: #F5F5F5;
    stroke-miterlimit: 10;
    stroke-width: 10px;
}

.home-content {
    background-image: url(../img/home-benirestoration3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.banner-wrap {
    margin: 0 auto;
    position: relative;
    top: 35%;
    text-align: center;
}

.title {
    color: #F5F5F5;
    font-weight: 500;
    font-size: 9rem;
    margin: 0 auto;
    border: solid 1.3rem #F5F5F5;
    text-shadow: 6px 6px 8px rgba(0, 0, 0, .8);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, .8);
    padding: 5px 30px;
    display: inline-block;
    text-transform: uppercase;
}

.slogan {
    text-align: center;
    color: #F5F5F5;
    font-weight: 200;
    font-size: 2rem;
}

.learnMore {
    display: block;
    margin: 15px auto;
    font-size: 2rem;
    font-weight: 200;
    color: #141414;
    border: none;
    outline: none;
    border-radius: 1rem;
    padding: .5rem 5rem;
    background: rgba(250, 250, 250, .28);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 110px;
}

.about-content {
    background: #ECECEC;
    display: flex;
    flex-direction: column;
    padding: 5% 0 0 0;
    justify-content: center;
    border-bottom: solid 3px #fcfcfc;
}

.about-content-wrap1 {
    background: #ECECEC;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.about-content-wrap1 div {
    flex: auto;
    width: 100%;
    padding: 0 5% 5% 5%;
}

.about-content-wrap1 div:nth-child(1) {
    border-right: solid 3px #fcfcfc;
}

.about-content-wrap1 div img {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    opacity: .8;
    border-radius: 30px;
    transition: all .5s ease-in-out;
}

.about-content-wrap1 img:hover {
    opacity: 1;
}

.about-content-wrap2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content-wrap2 p {
    margin: 0;
    font-size: 4rem;
    font-weight: 200;
    color: #4A4E4D;
    display: block;
    padding: 0 30% 5% 30%;
    text-align: center;
}

.work-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid 3px #fcfcfc;
}

.work-content-wrap1 {
    background: #f3f3f3;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.work-content-wrap1 p {
    font-size: 4rem;
    font-weight: 200;
    color: #4A4E4D;
    display: block;
    padding-bottom: 10px;
}

.work-content-wrap2 {
    width: 40%;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    background: #f3f3f3;
    border-right: solid 1px #fcfcfc;
    border-left: solid 3px #fcfcfc;
}

.work-content-wrap2 div {
    padding: 10% 1rem;
    flex: auto;
    width: 100%;
    align-self: center;
}

.work-content-wrap2 div img {
    position: relative;
    right: 20%;
    border-radius: 30px;
    height: auto;
    width: 100%;
}

.work-content-1 {
    background: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.work-content-wrap3 {
    width: 50%;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    border-right: solid 3px #fcfcfc;
    border-left: solid 1px #fcfcfc;
}

.work-content-wrap3 div {
    align-self: center;
    padding: 10% 1rem;
    flex: auto;
    width: 100%;
}

.chairs {
    position: relative;
    left: 0%;
    border-radius: 30px;
    height: auto;
    width: 120%;
}

.chair {
    position: relative;
    left: 20%;
    border-radius: 30px;
    height: auto;
    width: 80%;
}

.work-content-wrap4 {
    background: #f7f7f7;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-content-wrap4 p {
    margin: 0;
    font-size: 4rem;
    font-weight: 200;
    ccolor: #4A4E4D;
    display: block;
    text-align: center;
    padding: 0 10%;
}

.contact-content {
    background: #417D80;
    max-height: 100%;
    text-align: center;
}

.contact-content h4 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #F5F5F5;
    margin: 0 auto;
    padding-top: 50px;
    text-transform: capitalize;
    display: none;
}

.icons {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    align-items: center;
    height: 30rem;
}

.icon {
    height: 100%;
    width: 33.3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

[data-name="svg"] {
    height: 100px;
    width: 100px;
    fill: #F5F5F5;
    cursor: pointer;
    transition: height .5s ease-in-out;
}

#locate .cls-1 {
    fill: #F5F5F5;
    stroke: #F5F5F5;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

#message .cls-1 {
    fill: none;
    stroke: #F5F5F5;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

#call {
    fill: #F5F5F5;
}

#email {
    font-weight: 200;
    font-size: 3rem;
    color: #F5F5F5;
    cursor: pointer;
    margin: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    top: -5%;
}

#cell {
    font-weight: 200;
    font-size: 3rem;
    color: #F5F5F5;
    cursor: pointer;
    margin: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    top: -5%;
}

#address {
    font-weight: 200;
    font-size: 3rem;
    color: #F5F5F5;
    cursor: pointer;
    margin: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    top: -16%;
}

footer {
    background-color: #141414;
    color: #F5F5F5;
    height: 70px;
    text-align: center;
}

footer p {
    background-color: #141414;
    color: #F5F5F5;
    margin: 0 auto;
    font-weight: 400;
    font-size: 2rem;
    padding: 23px 0;
    text-transform: capitalize;
}

@media screen and (max-width: 1500px) {
    .about-content-wrap2 p {
        font-size: 3rem;
    }
    .about-content-wrap1 div img {
        border-radius: 10px;
    }
    .work-content-wrap1 p {
        font-size: 3rem;
    }
    .work-content-wrap2 div img {
        border-radius: 10px;
    }
    .work-content-wrap4 p {
        font-size: 3rem;
    }
    .chairs {
        border-radius: 10px;
    }
    .chair {
        border-radius: 10px;
    }
    #email {
        font-size: 2em;
    }
    #cell {
        font-size: 2rem;
    }
    #address {
        font-size: 2rem;
        top: -12%;
    }
}

@media screen and (max-width: 1200px) {
    .about-content-wrap2 p {
        font-size: 2rem;
    }
    .work-content-wrap1 p {
        font-size: 2rem;
    }
    .work-content-wrap4 p {
        font-size: 2rem;
    }
    .icons {
        height: 20rem;
    }
    [data-name="svg"] {
        height: 60px;
        width: 60px;
    }
    #email {
        font-size: 1.5em;
    }
    #cell {
        font-size: 1.5rem;
    }
    #address {
        font-size: 1.5rem;
        top: -10%;
    }
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 6rem;
    }
    .slogan {
        font-size: 2rem;
    }
    .learnMore {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    header {
        height: 40px;
    }
    .logo {
        font-size: 2.7rem;
    }
    #menu {
        height: 2rem;
        width: 2rem;
    }
    #menu-svg p {
        display: none;
    }
    #close {
        height: 2rem;
        width: 2rem;
    }
    .nav {
        top: 40px;
    }
    .title {
        font-size: 5rem;
        border: solid 1rem #F5F5F5;
    }
    .slogan {
        font-size: 1.5rem;
    }
    .about-content-wrap2 p {
        font-size: 1.5rem;
    }
    .work-content-wrap1 p {
        font-size: 1.5rem;
    }
    .work-content-wrap4 p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    header {
        position: static;
    }
    header {
        height: 40px;
    }
    .logo {
        font-size: 2.7rem;
    }
    #menu {
        height: 2rem;
        width: 2rem;
    }
    #menu-svg p {
        display: none;
    }
    #close {
        height: 2rem;
        width: 2rem;
    }
    .nav {
        top: 40px;
    }
    .home-content {
        height: calc(100vh - 40px);
    }
    .title {
        font-size: 2.5rem;
        border: solid .6rem #F5F5F5;
    }
    .slogan {
        font-size: 1rem;
    }
    .about-content-wrap2 p {
        font-size: 1.2rem;
        padding: 0 5% 5% 5%;
    }
    .about-content-wrap1 {
        flex-flow: column nowrap;
        padding: 0;
    }
    .about-content-wrap1 div {
        padding: 0 0 1rem 0;
        text-align: center;
    }
    .about-content-wrap1 div:nth-child(1) {
        border-right: none;
    }
    .about-content-wrap1 div img {
        width: 90%;
        opacity: 1;
        border-radius: 10px;
    }
    .work-content {
        flex-direction: column;
    }
    .work-content-wrap1 {
        width: 100%;
    }
    .work-content-wrap1 p {
        font-size: 1.2rem;
        padding: 1rem 0;
    }
    .work-content-wrap2 {
        background: #f3f3f3;
        width: 100%;
        flex-flow: column nowrap;
        align-items: center;
        border: 0;
    }
    .work-content-wrap2 div {
        padding: 0;
        width: 90%;
        padding-bottom: 1rem;
    }
    .work-content-wrap2 div img {
        position: static;
        border-radius: 5px;
        border-radius: 10px;
    }
    .work-content-1 {
        padding: 1rem 0 3rem 0;
        flex-direction: column;
    }
    .work-content-wrap3 {
        width: 100%;
        flex-flow: column nowrap;
        align-items: center;
        border: none;
    }
    .work-content-wrap3 div {
        padding: 0 0 1rem 0;
        text-align: center;
        width: 100%;
    }
    .work-content-wrap3 div img {
        border-radius: 10px;
    }
    .chairs {
        position: static;
        border-radius: 5px;
        width: 90%;
    }
    .chair {
        position: static;
        border-radius: 5px;
        width: 90%;
    }
    .work-content-wrap4 {
        width: 100%;
    }
    .work-content-wrap4 p {
        text-align: center;
        font-size: 1.2rem;
    }
    .contact-content h4 {
        display: none;
    }
    [data-name="svg"] {
        height: 50px;
        width: 50px;
        fill: #F5F5F5;
        cursor: pointer;
        transition: height .5s ease-in-out;
    }
    #email {
        font-size: 1em;
    }
    #cell {
        font-size: 1rem;
    }
    #address {
        font-size: 1rem;
    }
    footer {
        height: 30px;
    }
    footer p {
        font-size: 1rem;
        padding: 13px 0;
    }
}
